---
import IconUsa from "@assets/icons/icon_usa.svg";
import { Icon } from "astro-icon/components";
---

<div class="flex items-center justify-end gap-3 py-4 lg:justify-start lg:py-0">
  <img
    src={IconUsa.src}
    alt="USA Flag Icon"
    width="24"
    loading="eager"
    decoding="sync"
  />
  <span class="font-regular text-lg text-secondary">English | USD</span>
</div>
