---
import Accordion from "@/components/shared/Accordion.astro";
---

<section class="container-padding mt-12 w-full bg-adxlight !py-16" id="faq">
  <div
    class="container mx-auto flex flex-col gap-x-16 gap-y-6 lg:flex-row lg:justify-center"
  >
    <h3 class="pl-5 text-2xl font-bold lg:pl-0" data-aos="fade-right">
      Frequently
      <span class="block w-full whitespace-nowrap">Asked Questions</span>
    </h3>
    <!-- FAQ COMPONENT -->
    <div class="flex w-full max-w-[550px] flex-col gap-3">
      <div data-aos="fade-left">
        <Accordion
          title="What is ADX?"
          details="ADX is an innovative platform designed to transform the pulses & grains shopping experience for the general consumer. It allows individuals to buy and sell commodities globally in a new, open market. ADX offers simplified and secure transactions, real-time updates on prices and market trends, and is supported by a 100% delivery guarantee. It brings the expertise and reliability of Adroit Overseas, a leading B2B agri-processing company, to everyday consumers."
        />
      </div>

      <div data-aos="fade-left" data-aos-delay="100">
        <Accordion
          title=" How long does it take for my order to be delivered?"
          details="The delivery time for your order varies depending on the commodity, shipment period, shipping method, and destination. Shipping date are specified with each order. For instance, some recent orders have shipment dates set for JUN / JUL 2024, that's when it will be shipped and the time will depend to where it was shipped. You can track your order's status and receive updates through the ADX platform."
        />
      </div>

      <div data-aos="fade-left" data-aos-delay="200">
        <Accordion
          title="What are the shipping options available?"
          details="ADX offers various shipping options tailored to the commodity and destination. Our listings provide details such as packaging type (e.g., bulk or bags) and tracking locations (e.g., Vancouver, Mazatlan, Seattle). You can select the shipping option that best fits your needs during the order process. You can select from Truck, Railcar or Container depending on the destination."
        />
      </div>

      <div data-aos="fade-left" data-aos-delay="300">
        <Accordion
          title="Can I change my delivery address after placing an order?"
          details="Yes, you can change your delivery address after placing an order, as long the order has not been confirmed as a contract. After a accepting a contract you would need to talk to customer service to see if it's possible to make the change."
        />
      </div>

      <div data-aos="fade-left" data-aos-delay="400">
        <Accordion
          title="Are there any additional fees for processing payments?"
          details="While ADX aims to keep transactions straightforward and transparent, there might be additional fees associated with processing payments depending on the payment method and currency used. Specific details regarding any additional fees will be provided during the checkout process."
        />
      </div>

      <div data-aos="fade-left" data-aos-delay="500">
        <Accordion
          title="What currencies do you accept?"
          details="ADX operates in the US Dollar for all international transactions and for local transactions uses Canadian Dollar. The currency will be specified in the Contract. If you have specific questions about currencies, please contact our customer support for more information."
        />
      </div>
    </div>
  </div>
</section>
